@model SetGenerator.WebUI.ViewModels.MemberEditViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="label label-default">First Name</div>
            <input type="text" id="txtFirstName" class="form-control" value="@Model.FirstName" maxlength="20"/>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="label label-default">Last Name</div>
                <input type="text" id="txtLastName" class="form-control" value="@Model.LastName" maxlength="20"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="label label-default">Alias</div>
            <input type="text" id="txtAlias" class="form-control" value="@Model.Alias" maxlength="20"/>
        </div>
        @if (@Model.MemberInstruments.Any())
        {
            <div class="col-sm-6">
                <div class="label label-default">Default Instrument</div>
                @Html.DropDownList("ddlMemberInstruments", @Model.MemberInstruments, new {@class = "form-control"})
            </div>
        }
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>