@using System.Collections
@using System.Web.Mvc.Html
@using FluentNHibernate.Conventions
@using Microsoft.AspNet.Identity

<script type="text/javascript">
    $(document).ready(function() {
        shared._logonpartial.init(
        {
            controller: "@ViewContext.RouteData.Values["controller"].ToString()",
            actionName: "@ViewContext.RouteData.Values["action"].ToString()",
            userId: "@Session["UserId"]",
            currentBandId: "@Session["BandId"]",
            userBands: "@Session["Bands"]"
        });
    });
</script>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        if (@Session["Bands"] != null)
         {
            <span class="band-dropdown">
                @Html.DropDownList("ddlUserBand", new SelectList((IEnumerable)@Session["Bands"], "Id", "Name", @Session["BandId"]), @Session["BandId"])
            </span>
        }
        <text><strong>
                @if (User.Identity.GetUserName() == "admin")
                {
                    <a id="profile-clicked" href="javascript:;">@User.Identity.GetUserName()</a>
                }
                else
                {
                    <span>
                        @Html.ActionLink("Welcome " + User.Identity.GetUserName() + "! ", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </span>
                }
                <a href="javascript:document.getElementById('logoutForm').submit()">Bugger off</a>
            </strong>
        </text>
    }
}
else
{
    @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})*@
    @Html.ActionLink("Sign In", "Login", "Account")
}